.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.textElements {
  flex: 3;
  margin: 20px;
}

.textElements h1 {
  font-size: 35px;
  color: aliceblue;
}

.textElements p {
  color: rgb(140,140,140);
}

.image {
  flex: 2;
  margin: 20px;
  align-self: center;
}

.image img {
  width: 80%;
  /* margin: 30px; */
  align-self: center;
}